body {
    background-color: #f5f8f9;
    height: 100vw;
    font-family: 'Lato', sans-serif; 
}

aside {
    background-color: #3a3c40;
    height: 100vw;
    text-align: center;
    padding: 50px !important;  
}

aside h1 {
    color: #0060f0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

aside h2 {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

aside .button {
    background-color: #0060f0 !important;
    text-transform: uppercase;
    font-size: 0.875em !important;
    padding: 20px 30px 20px 30px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0px 4px 0px 0px rgba(0, 49, 122, 0.56);
}

aside .button:hover {
    background-color: #fff !important;
    color: #000 !important; 
    box-shadow: 0px 0px 4px 0px rgba(0, 49, 122, 0.56);
}

aside .rede {
    margin-top: 10px;
}

aside .rede li {
    display: inline;
    margin-right: 5px;
}

aside .rede li i {
    color: #fff;
    font-size: 30px; 
}

aside .habilidades {
    text-align: left;
    margin-top: 30px;
}

aside  .habilidades h3 {
    color: #eeeeee;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

aside .habilidades small {
    color: #8fa4af;
    font-size: 0.750em;
}

aside .habilidades progress {
    margin-bottom: 5px;  
}

aside .habilidades progress::-webkit-progress-value { 
    background-color: #eeb65a !important;
}